.first {
  background-image: url('https://66.media.tumblr.com/d31f02f8884493683e642bc6a8c6dfd3/tumblr_oeqj0nsmaJ1u78hylo2_500.jpg');
  background-size: cover;
  height: 100vh;
  width: 100wh;
  }
  h1{
    top: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    color: black;
  }
  .Profile{
  float: right; 
    

  }
  
