
@media (min-width: 821px) {
.git-icon {
    width: 50px;
    height: 50px;
    
    
  }
  .lkd  {
    width: 50px;
    height: 50px;
    margin-left: 50%;
    
  }
  
  .slack {
    width: 50px;
    height: 50px;
    margin-left: 25px;
}
  .contactMe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 10%;
    margin-bottom: 2%;
    
    
  }

  .IconList{
    width: 50px;
    height: 50px;
    display: inline-flex;
    margin-left: 25px;
    justify-content: center;
      

    
  }

  @keyframes blink-animation {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  .IconList {
    animation: blink-animation 3s ease 0s ;
  }
  
 

 


}
@media (min-width: 300px) and (max-width: 820px){
  .git-icon {
    width: 50px;
    height: 50px;
    
    
  }
  .lkd  {
    width: 50px;
    height: 50px;
    margin-left: 50%;
    
  }
  
  .slack {
    width: 50px;
    height: 50px;
    margin-left: 25px;
}
  .contactMe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 10%;
    margin-bottom: 2%;
    
    
  }


}