
body, #root {
  margin: 0;
  padding: 0;
}

/* 
 li{
  padding: 2px 7px 2px 7px;
  color: #666;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  text-decoration: none;
}  */


.git-icon {
  width: 50px;
  height: 50px;
  
  
}
.lkd  {
  width: 50px;
  height: 50px;
  margin-left: 50%;
  
}

.slack{
  width: 50px;
  height: 50px;
  margin-left:4% ;
}
.contactMe{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10%;
  
  
}





.blockCard{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  scroll-margin-bottom: 1%;
  scroll-margin-block-start: 1%;
 
}


.card{
  margin: 30px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  font-family:  roboto;
  border-radius: 18px;
  background: white;
  /* box-shadow:  5px 5px 115px rgb(0, 0,0); */
  box-shadow: 2px 2px 40px rgb(0, 0,0);
  text-align: center;

  transition: 0.
  5s ease;
  cursor: pointer;
}

.card-image{
  grid-area :image;
  background: url('https://66.media.tumblr.com/ed1b05038f8638d87cbf9a97f6307c3b/tumblr_nvyvq6GwAr1u7awiro1_1280.jpg');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;

}
.card-text{
  grid-area : text ;
  margin: 25px;
}
.card-text .date{
  color: rgb(255, 7,110);
  font-size: 13px;
}

.card-stats h2{
   margin-top: 0px;
   font-size: 28px;
  
  }
.card-stats{
grid-area: stats;
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows: 1fr;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background: rgb(255, 7,110);

}
.card-stats .stat{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10x;
  color:white;

}
.card-stats .type{
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;

}

.card-stats .value{
  font-size: 22px;
  font-weight: 500px;

}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgb(0, 0,0);
}

 
  .Projects{
    width: 150px;
    padding: 25px;
    display: inline-flex;

  }

  p {
    /* margin-block-start: 3em; */
    /* margin-block-end: 20em; */
    /* margin-inline-start: 50px; */
    /* margin-inline-end: 0px; */
}


.front{
  position: relative;
  top: 0;
  right: 0;
}
.imagcard{
  position: absolute;
  width: 100px;
  padding: 0px;
  float: left;
  margin: 0%;
  
}


.flip-box {
  position: relative;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  padding: 40px;
 margin: 50px;
  display: flex;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);

}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  position: absolute;
  background-color: #bbb;
  color: rgb(54, 2, 2);
}

.flip-box-back {
  position: relative;
  top: 0;
  background-color: coral;
  color: white;
  transform: rotateY(180deg);
}

h2 {
  font-family: 'Cinzel', serif;
  align-items: center;
  font-size: 100%;
  justify-items: center;
  text-align: center;
  font-weight: 200;
  margin: 0%;
  padding: 0%;
}