
@media (min-width: 821px) {

    body {
 
   
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 98vw;
        background-position: center center;
        background-attachment: fixed;
        height: 100%;
        width: 98%;
    
    }

.SkillsContend{
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

.listSkills{
  
    color: gray;
    display: block;
    display: flex;
    
    width: 20%;
    height: 20%;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.SkillsLeft{
width: 100%;
}

.SkillsCenter{
   width: 100%;
}

.SkillsLeft li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 5%;
    list-style: none;
    

}

.SkillsCenter li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 5%;
    list-style: none;

}

.SkillsRight li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 5%;
    list-style: none;

}
ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr;
    
        display: grid;
        grid-row-gap: 1em;
        text-align: center;
        font-size: 20px;
       
        color: gray;
        text-align: center;
    
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

}


 
@media only screen and (max-width: 400px) and (min-width: 301px){

    ul{
        display: grid;
        list-style: none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 1em;
        grid-template-columns: 1fr 1fr;
        
            display: grid;
            grid-row-gap: 1em;
            text-align: center;
            font-size: 20px;
           
            color: gray;
        
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .Skills {
        font-size: 14px;
        display: grid;
        grid-row-gap: 1em;
        text-align: center;
        font-size: 20px;
       
        color: gray;
    }
    
} 
